<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
</head>
<body>
	<header id="header" th:fragment="header">
		<div id="topbar">
			<div class="container">
				<div class="row">
					<div class="col">
						<!--  session dependant : link adapt if user connected and member -->
						<a sec:authorize="hasAuthority('ROLE_USER')" th:href="@{/membre/mon-compte}" class="btn btn-primary float-md-right">Mon compte</a>
						<a sec:authorize="isAnonymous()" th:href="@{/acces-compte}" class="btn btn-primary float-md-right">Accéder à mon compte</a>
						<a sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/admin/dashboard}" class="btn btn-primary float-md-right">Accès back-office</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="logo float-left">
				<a th:href="@{/}" class="scrollto"><img th:src="@{/img/logo.png}" alt="" class="img-fluid"></a>
			</div>
			<nav class="main-nav float-right d-none d-lg-block">
				<ul>
					<li><a th:href="@{/}">Accueil</a></li>
					<li><a th:href="@{/les-sites}">Les sites</a></li>
					<li sec:authorize="hasAuthority('ROLE_USER')">
						<a th:href="@{/les-topos}">Les topos</a>
					</li>
					
				</ul>
			</nav>
			
			<!-- .main-nav -->
		</div>
	</header>
	<!-- #header -->

</body>
</html>