<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Les amis de l'escalade</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">

<!-- Favicons -->
<link th:href="@{/img/favicon.png}" rel="icon">
<link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
	rel="stylesheet">

<!-- Bootstrap CSS File -->
<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Libraries CSS Files -->
<link th:href="@{/assets/font-awesome/css/font-awesome.min.css}" rel="stylesheet">

<!-- Main Stylesheet File -->
<link th:href="@{/css/style.css}" rel="stylesheet">


</head>

<body>
	<!--==========================
  	Header
  	============================-->
	<header th:replace="commons/header :: header"></header>


	<main id="main">
		<section id="spot-add" class="section-bg">
	      	<div class="container">
	        	<header class="section-header">
	          		<h1 class="section-title" th:text="${spot.name}"></h1>
	        	</header>
	        	<div th:if="${spot.tag}" class="row my-2">
	        		<div class="col">
	        			<h2 th:text="${T(dev.gaellerauffet.lesamisdelescalade.utils.Constants).SPOT_TAG}"></h2>
	        		</div>
	        	</div>
	        	<div class="row my-2">
	        		<div class="col-md-4">
	        			<span class="font-weight-bold">Région : </span><th:block th:text="${spot.region}"></th:block>
	        		</div>
	        	</div>
	        	<div class="row my-2">
	        		<div class="col-md-4">
	        			<span class="font-weight-bold">Type : </span><th:block th:text="${spot.type}"></th:block>
	        		</div>
	        		<div class="col-md-4">
	        			<span class="font-weight-bold">Orientation : </span><th:block th:text="${spot.orientation}"></th:block>
	        		</div>
	        		<div class="col-md-4">
	        			<span class="font-weight-bold">Nombre de voies : </span><th:block th:text="${spot.nbRoutes}"></th:block>
	        		</div>
	        	</div>
	        	<div class="row my-2">
	        		<div class="col-md-6" >
	        			<span class="font-weight-bold">Hauteur minimale : </span><th:block th:text="${spot.minHeight} + 'm'"></th:block>
	        		</div>
	        		<div class="col-md-6" >
	        			<span class="font-weight-bold">Hauteur maximale : </span><th:block th:text="${spot.maxHeight} + 'm'"></th:block>
	        		</div>
	        	</div>
	        	<div class="row my-2">
	        		<div class="col-md-6" >
	        			<span class="font-weight-bold">Cotation minimale : </span><th:block th:text="${spot.minGrade}"></th:block>
	        		</div>
	        		<div class="col-md-6" >
	        			<span class="font-weight-bold">Cotation maximale : </span><th:block th:text="${spot.maxGrade}"></th:block>
	        		</div>
	        	</div>
	        	<div class="row my-2">
	        		<div class="col-md-2"><span class="font-weight-bold">Remarques</span></div>
	        		<div class="col-md-10" th:text="${spot.notice}"></div>
	        	</div>
				<div class="row my-5">
					<div class="col"  th:text="${spot.description}"></div>
		    	</div>
		    
		    	<div class="row my-2" th:if="${not #lists.isEmpty(spot.listArea)}">
		    		<div class="col">
		    			<a class="btn btn-success" th:href="@{'/spots/'+${spot.id}+'/areas/list'}">Voir les secteurs</a>
		    		</div>
		    	</div>
	     	</div>
	     </section>
	     
	     <section id="spot-comment" class="section-bg pt-2 mt-5">
	     	<div class="container">
		     	
		        <div sec:authorize="hasAuthority('ROLE_USER')">
					 <h3>Laisser un commentaire</h3>	        
					 <div>
					 	<form action="#"  th:replace="commons/forms :: comment-form"></form>
					 </div>
				</div>
				
		        <h3 th:if="${not #lists.isEmpty(spot.listComment)}" class="section-title text-left">Les commentaires</h3>
		    
		    	<div class="comment-list" th:if="${not #lists.isEmpty(spot.listComment)}">
			        <th:block  th:each="comment : ${spot.listComment}">
						<div class="row mt-2">
							<div class="col">
								<header class="font-weight-lighter">
									<i class="fa fa-user pr-2"></i><span th:text="${comment.user.firstName} + ' ' + ${comment.user.lastName}"></span> le 
									<time th:text="${#temporals.format(comment.createdDate, 'dd/MM/yyyy à HH:mm')}"></time>
								</header>
								<div class="pb-2">
									<div class="font-weight-bold" th:text="${comment.title}"></div>
								
									<div th:text="${comment.content}"></div>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</div>
			
	     </section>
	     
	    
	</main>

	<!--==========================
    Footer
  	============================-->
	<footer th:replace="commons/footer :: footer"></footer>
	<!-- #footer -->

	<!-- <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>-->
	<!-- Uncomment below i you want to use a preloader -->
	<!-- <div id="preloader"></div> -->

	<!-- JavaScript Libraries -->
	<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
	<script th:src="@{/assets/jquery/jquery-migrate.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	<script th:src="@{/assets/mobile-nav/mobile-nav.js}"></script>

	<!-- Template Main Javascript File -->
	<script th:src="@{/js/main.js}"></script>

</body>
</html>
