<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Les amis de l'escalade</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">

<!-- Favicons -->
<link th:href="@{/img/favicon.png}" rel="icon">
<link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
	rel="stylesheet">

<!-- Bootstrap CSS File -->
<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Libraries CSS Files -->
<link th:href="@{/assets/font-awesome/css/font-awesome.min.css}" rel="stylesheet">

<!-- Main Stylesheet File -->
<link th:href="@{/css/style.css}" rel="stylesheet">


</head>

<body>
	<!--==========================
  	Header
  	============================-->
	<header th:replace="commons/header :: header"></header>


	<main id="main">
		<section id="spot-add" class="section-bg">
	      	<div class="container">
	        	<header class="section-header">
	          		<h3 class="section-title" th:text="${spot.name}"></h3>
	        	</header>
	        	<div class="row my-2">
	        		<div class="col" th:text="${spot.region}"></div>
	        	</div>
	        	<div class="row my-2">
	        		<div class="col col-md-4">
	        			<span class="font-weight-bold">Type : </span><th:block th:text="${spot.type}"></th:block>
	        		</div>
	        		<div class="col col-md-4">
	        			<span class="font-weight-bold">Orientation : </span><th:block th:text="${spot.orientation}"></th:block>
	        		</div>
	        		<div class="col col-md-4">
	        			<span class="font-weight-bold">Nombre de voies : </span><th:block th:text="${spot.nbRoutes}"></th:block>
	        		</div>
	        	</div>
	        	<div class="row my-2">
	        		<div class="col col-md-6" >
	        			<span class="font-weight-bold">Hauteur minimale : </span><th:block th:text="${spot.minHeight} + 'm'"></th:block>
	        		</div>
	        		<div class="col col-md-6" >
	        			<span class="font-weight-bold">Hauteur maximale : </span><th:block th:text="${spot.maxHeight} + 'm'"></th:block>
	        		</div>
	        	</div>
	        	<div class="row my-2">
	        		<div class="col col-md-6" >
	        			<span class="font-weight-bold">Cotation minimale : </span><th:block th:text="${spot.minGrade}"></th:block>
	        		</div>
	        		<div class="col col-md-6" >
	        			<span class="font-weight-bold">Cotation maximale : </span><th:block th:text="${spot.maxGrade}"></th:block>
	        		</div>
	        	</div>
	        	<div class="row my-2">
	        		<div class="col col-md-2"><span class="font-weight-bold">Remarques</span></div>
	        		<div class="col col-md-10" th:text="${spot.notice}"></div>
	        	</div>
				<div class="row my-2">
					<div class="col"  th:text="${spot.description}"></div>
		    	</div>
		    	<div class="row my-2">
		    		<div class="col">
		    			Afficher les commentaires et un bouton d'ajout de commentaire
		    		</div>
		    	</div>
		    	<div class="row my-2">
		    		<div class="col">
		    			<a class="btn btn-primary" th:href="@{/les-sites}">Retour à la liste des sites</a>
		    		</div>
		    	</div>
		    	
										
				
	       </div>
	     </section>
	     <section id="spot-comment" class="section-bg">
	     	<div class="container">
		     	<header th:if="${not #lists.isEmpty(listComments)}" class="section-header">
		          		<h2 class="section-title text-left">Les commentaires</h2>
		        </header>
		        <div sec:authorize="hasAuthority('ROLE_USER')">
					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseAddComment" aria-expanded="false" aria-controls="collapseAddComment">
					    	Laisser un commentaire
					</button>	        
					 <div class="collapse" id="collapseAddComment">
					 	<form action="#" th:action="@{'/spots/'+ ${spot.id} + '/comments'}" th:object="${comment}" method="post">
				        	 	<div class="form-group">
								    <label for="title">Titre</label>
								    <input type="text" th:field="*{title}" placeholder="" class="form-control" th:classappend="${#fields.hasErrors('title')} ? is-invalid : ''">
								    <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
								</div>
								<div class="form-group">
								    <label for="content">Contenu</label>
								    <textarea class="form-control" th:field="*{content}" rows="5" th:classappend="${#fields.hasErrors('content')} ? is-invalid : ''"></textarea>
								    <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
				    			</div>
				    			<div>
				    				<input type="submit" value="Ajouter un commentaire" class="btn btn-primary"> 
				    			</div>
							</form>
					 </div>
				</div>
				
		        <th:block th:if="${not #lists.isEmpty(listComments)}" th:each="comment : ${listComments}">
					<div class="row my-2">
						<div class="col">
							<p th:text="${#temporals.format(comment.createdDate, 'dd/MM/yyyy à HH:mm')}">
							<p class="font-weight-bold" th:text="${comment.title}">
							<p th:text="${comment.content}">
							
						</div>
					</div>
				</th:block>
			</div>
			
	     </section>
	     
	     
	</main>

	<!--==========================
    Footer
  	============================-->
	<footer th:replace="commons/footer :: footer"></footer>
	<!-- #footer -->

	<!-- <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>-->
	<!-- Uncomment below i you want to use a preloader -->
	<!-- <div id="preloader"></div> -->

	<!-- JavaScript Libraries -->
	<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
	<script th:src="@{/assets/jquery/jquery-migrate.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	<script th:src="@{/assets/mobile-nav/mobile-nav.js}"></script>

	<!-- Template Main Javascript File -->
	<script th:src="@{/js/main.js}"></script>

</body>
</html>
