<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Les amis de l'escalade</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">

<!-- Favicons -->
<link th:href="@{/img/favicon.png}" rel="icon">
<link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
	rel="stylesheet">

<!-- Bootstrap CSS File -->
<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Libraries CSS Files -->
<link th:href="@{/assets/font-awesome/css/font-awesome.min.css}" rel="stylesheet">

<!-- Main Stylesheet File -->
<link th:href="@{/css/style.css}" rel="stylesheet">


</head>

<body>
	<!--==========================
  	Header
  	============================-->
	<header th:replace="commons/header :: header"></header>


	<main id="main">
	     <section id="spot-search" class="section-bg">
	      	<div class="container">
	        	<header class="section-header">
	          		<h3 class="section-title">Votre prochaine grimpe</h3>
	          		
	        	</header>
	        	<section id="spot-search-form">
						<form action="#" th:action="@{/recherche-site}" th:object="${spotsearchform}"  method="post">
							<div class="form-row">
								<div class="form-group col-md-6 col-lg-3">
				    				<label for="name">Nom</label> 
				    				<input type="text" th:field="*{name}" class="form-control" >
				    			</div>
				    			<div class="form-group col-md-6 col-lg-3">
				    				<label for="region">Région</label> 
					    			<select th:field="*{region}" class="form-control"> 
		       							<option th:each="region : ${listRegions}" 
		           								th:value="${region}" 
		           								th:text="${region}" /> 
		      						</select> 
				    			</div>
			    			</div>
			    			<input type="submit" value="Rechercher" class="btn btn-primary">
			    		</form>
				</section>
				
				<section th:if="${not #lists.isEmpty(foundedSpots)}">
					<h6>Sites trouvés</h6>
        			<table class="table">
			            <thead>
						    <tr>
						      	<th scope="col">#</th>
						      	<th scope="col">Nom</th>
						    </tr>
					 	</thead>
					   	<th:block th:each="spot : ${foundedSpots}">
					   		<tr>
					        	<td><a th:href="@{'/spot/'+ ${spot.id}}">Voir</a></td>
						    	<td th:text="${spot.name}"></td>
						    </tr>
					   </th:block>
			        </table>
					
				</section>
	       
		</section>
	</main>

	<!--==========================
    Footer
  	============================-->
	<footer th:replace="commons/footer :: footer"></footer>

	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
	<!-- Uncomment below i you want to use a preloader -->
	<!-- <div id="preloader"></div> -->

	<!-- JavaScript Libraries -->
	<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
	<script th:src="@{/assets/jquery/jquery-migrate.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	<script th:src="@{/assets/mobile-nav/mobile-nav.js}"></script>

	<!-- Template Main Javascript File -->
	<script th:src="@{/js/main.js}"></script>

</body>
</html>
