<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
<meta charset="utf-8">
	<title>Les amis de l'escalade</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="keywords">
	<meta content="" name="description">
	
	<!-- Favicons -->
	<link th:href="@{/img/favicon.png}" rel="icon">
	<link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">
	
	<!-- Google Fonts -->
	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
		rel="stylesheet">
	
	<!-- Bootstrap CSS File -->
	<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
		rel="stylesheet">
	
	<!-- Libraries CSS Files -->
	<link th:href="@{/assets/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
	
	<!-- Main Stylesheet File -->
	<link th:href="@{/css/be-account.css}" rel="stylesheet">


</head>

<body>
	 <div class="d-flex" id="wrapper">

    	<div th:replace="commons/be-account/menu :: main-menu"></div>
    

	    <!-- Page Content -->
	    <div id="page-content-wrapper">
	
	      	<nav th:replace="commons/be-account/menu :: navbar"></nav>

	      	<div class="container-fluid">
	          	<h1 class="" >Fiche utilisateur</h1>
				<div class="row my-2">
		        	<div class="col-md-6 col-lg-2">
		        		<p><span class="font-weight-bold">Prénom : </span><th:block th:text="${user.firstName}"></th:block></p>
		        	</div>
		        	<div class="col-md-6 col-lg-2">
		        		<p><span class="font-weight-bold">Nom : </span><th:block th:text="${user.lastName}"></th:block></p>
		        	</div>
		        </div>
		        <div class="row my-2">
		        	<div class="col">
		        		<p><span class="font-weight-bold">Email : </span><th:block th:text="${user.email}"></th:block></p>
		        	</div>
		       	</div>
		       	<div class="row my-2">
		       		<div class="col">
		        		<p><span class="font-weight-bold">Pseudo : </span><th:block th:text="${user.pseudo}"></th:block></p>
		        	</div>
		        </div>
		        <div class="row my-2">
		       		<div class="col">
		        		<p><span class="font-weight-bold">Téléphone : </span><th:block th:text="${user.phone}"></th:block></p>
		        	</div>
		        </div>
		        <div class="row my-2">
		        	<div class="col-md-6 col-lg-2">
		        		<p><span class="font-weight-bold">Ville : </span><th:block th:text="${user.city}"></th:block></p>
		        	</div>
		        	<div class="col-md-6 col-lg-2">
		        		<p><span class="font-weight-bold">Code postal : </span><th:block th:text="${user.postalCode}"></th:block></p>
		        	</div>
		        </div>
				<div class="row my-2">
		    		<div class="col">
		    			<a class="btn btn-primary" th:href="@{/admin/les-utilisateurs}">Retour à la liste des utilisateurs</a>
		    		</div>
		    	</div>
		  	</div>
	    </div>
    	<!-- /#page-content-wrapper -->

  	</div>
  	<!-- /#wrapper -->
	

	<!-- JavaScript Libraries -->
	<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

	<!-- Template Main Javascript File -->
	<script th:src="@{/js/be-account.js}"></script>

</body>
</html>