<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Les amis de l'escalade</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="keywords">
	<meta content="" name="description">
	
	<!-- Favicons -->
	<link th:href="@{/img/favicon.png}" rel="icon">
	<link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">
	
	<!-- Google Fonts -->
	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
		rel="stylesheet">
	
	<!-- Bootstrap CSS File -->
	<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
		rel="stylesheet">
	
	<!-- Libraries CSS Files -->
	<link th:href="@{/assets/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
	
	
	<!-- Main Stylesheet File -->
	<link th:href="@{/css/style.css}" rel="stylesheet">


</head>

<body>
	<!--==========================
  	Header
  	============================-->
	<header th:replace="commons/header :: header"></header>


	<main id="main">
	     <section id="spot-list" class="section-bg">
	      	<div class="container">
	        	<header class="section-header">
	          		<h3 class="section-title">Les utilisateurs</h3>
	        	</header>
	        	
	        	
	        	<!--  table contenant la liste des sites-->
	        	<table class="table">
	        		<thead>
					    <tr>
					      	<th scope="col" class="text-center">#</th>
					      	<th scope="col" class="text-center">Prénom</th>
					      	<th scope="col" class="text-center">Nom</th>
					    </tr>
				 	 </thead>
				   	<th:block th:each="user : ${page.content}">
				   		<tr>
				        	<td class="text-center"><a class="btn btn-link" th:href="@{'/user/'+ ${user.id}}">Voir</a></td>
					    	<td class="text-center" th:text="${user.firstName}"></td>
					    	<td class="text-center" th:text="${user.lastName}"></td>
					    	<td class="text-center">
					    		<a class="btn btn-link" th:href="@{'/user/edit/' + ${user.id}}">Modifier</a>
					    		 | <a class="btn btn-link" th:href="@{'/user/delete/'+ ${user.id}}">Supprimer</a>
					    	</td>
					    </tr>
				   </th:block>
				</table>
				
				<!-- pagination -->
				<nav aria-label="Pages listant les utilisateurs">
					<ul class="pagination">
					    <li th:if="${page.hasPrevious()}" class="page-item">
					        <a th:href="@{''(page=${page.number-1},size=${page.size})}" class="page-link" aria-label="Précédent">
					        	<span aria-hidden="true">&laquo;</span>
        						<span class="sr-only">Précédent</span>
					       	</a>
					    </li>
					    <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
					        <li th:if="${page.number == i}" class="active page-item">
					       		<span class="page-link">[[${i}+1]]<span class="sr-only">(actuel)</span></span>
					       	</li>
					        <li th:unless="${page.number == i}" class="page-item">
					             <a th:href="@{''(page=${i},size=${page.size})}" class="page-link">[[${i}+1]]</a>
					        </li>
					    </th:block>
				    	<li th:if="${page.hasNext()}" class="page-item">
				        	<a th:href="@{''(page=${page.number+1},size=${page.size})}" class="page-link" aria-lable="Suivant">
				        		<span aria-hidden="true">&raquo;</span>
        						<span class="sr-only">Suivant</span>
				        	</a>
				    	</li>
				    </ul>
				</nav>
				
				<div class="row">
					<div class="col py-2">
				  		<a th:href="@{/adduser}" class="btn btn-primary ">Ajouter un utilisateur</a>
				  	</div>
				 </div>
	        </div>
		</section>
	</main>

	<!--==========================
    Footer
  	============================-->
	<footer th:replace="commons/footer :: footer"></footer>


	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
	<!-- Uncomment below i you want to use a preloader -->
	<!-- <div id="preloader"></div> -->

	<!-- JavaScript Libraries -->
	<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
	<script th:src="@{/assets/jquery/jquery-migrate.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	<script th:src="@{/assets/mobile-nav/mobile-nav.js}"></script>

	<!-- Template Main Javascript File -->
	<script th:src="@{/js/main.js}"></script>

</body>
</html>
