<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Les amis de l'escalade</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">

<!-- Favicons -->
<link th:href="@{/img/favicon.png}" rel="icon">
<link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
	rel="stylesheet">

<!-- Bootstrap CSS File -->
<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Libraries CSS Files -->
<link th:href="@{/assets/font-awesome/css/font-awesome.min.css}" rel="stylesheet">

<!-- Main Stylesheet File -->
<link th:href="@{/css/style.css}" rel="stylesheet">


</head>

<body>
	<!--==========================
  	Header
  	============================-->
	<header th:replace="commons/header :: header"></header>


	<main id="main">
		<section id="spot-add" class="section-bg">
	      	<div class="container">
	        	<header class="section-header">
	          		<h3 class="section-title">Topo</h3>
	        	</header>
	        	<div class="row my-2">
		        	<div class="col col-md-6">
		        	 	<p><span class="font-weight-bold">Nom: </span><th:block th:text="${guidebook.name}"></th:block></p>
		        	 	
		        	 	<div>
			        	 	<span class="font-weight-bold">Description :</span>
			        		<div>
			        			<th:block th:text="${guidebook.description}"></th:block>
			        		</div>
			        	</div>
			        	
			        	<p><span class="font-weight-bold">Lieu : </span><th:block th:text="${guidebook.place}"></th:block></p>
			        	
			     		<p><span class="font-weight-bold">Nom: </span><th:block th:text="${#temporals.format(guidebook.releaseDate, 'dd/MM/yyyy')}"></th:block></p>
			        	
		        	</div>
		        	
		        	<div class="col col-md-6">
		        	<!--  autre condition : le topo n'appartient pas à l'utilisateur connecté et il n'a pas déjà fait une demande en cours
		    		faire le calcul dans le service et le récuperer dans le controleur -->
		        		<a class="btn btn-primary" th:if="${guidebook.bookable} and ${guidebook.available}" 
		        		th:href="@{'/guidebooks/' + ${guidebook.id} + '/bookings'}">Demander une réservation</a>
		        	</div>
		        	
		        	
		        </div>
		        
		       
		       	
		       	
				<div class="row my-2">
		    		<div class="col">
		    			<a class="btn btn-secondary" th:href="@{/les-topos}">Retour à la liste des topos</a>
		    		</div>
		    	</div>
	       </div>
	     </section>
		
	</main>

	<!--==========================
    Footer
  	============================-->
	<footer th:replace="commons/footer :: footer"></footer>

	<!-- <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>-->
	<!-- Uncomment below i you want to use a preloader -->
	<!-- <div id="preloader"></div> -->

	<!-- JavaScript Libraries -->
	<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
	<script th:src="@{/assets/jquery/jquery-migrate.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	<script th:src="@{/assets/mobile-nav/mobile-nav.js}"></script>

	<!-- Template Main Javascript File -->
	<script th:src="@{/js/main.js}"></script>

</body>
</html>
